@*
    Vue pour l'affichage des logs au complet'
*@
@{
    ViewData["Title"] = "Log";
    ViewData["Active"] = "projetDnsLog";
    ViewData["Menu"] = "outilsmenu";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Visualisation des dernières lignes du fichier log : projetdns.log</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mb-2">
                <p>Ici, vous pourrez voir tous les logs qui ont été enregistrés depuis le lancement du serveur.</p>
            </div>
            <textarea class="form-control" style="min-height: 70vh" disabled>@ViewBag.QueryLogFull</textarea>
        </div>
    </div>

</section>
<!-- /.content -->